  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">Code Storage</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li><button *ngIf="loggedIn()" class="btn btn-outline-warning my-2 my-sm-0 mr-2" 
            [routerLink]="['/documents']">My Documents</button></li>
          <li><button *ngIf="loggedIn()" class="btn btn-outline-success my-2 my-sm-0"
            (click)="newDocument()" type="submit">New Document</button></li>
        </ul>

        <form #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
          <input class="form-control mr-sm-1" type="text" name="username" required
          [(ngModel)]="user.name" placeholder="Username">
          <input class="form-control mr-sm-1" type="password" name="password" required
          [(ngModel)]="user.password" placeholder="Password">
          <button [disabled]="loginForm.invalid" class="btn btn-success my-2 my-sm-0"
             type="submit">Login</button>
        </form>

        <div *ngIf="loggedIn()" class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Welcome {{authService?.decodedToken.unique_name | titlecase}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <!-- <li role="menuitem"><button class="dropdown-item">
              <i class="fa fa-user"></i> Edit profile</button></li> -->
            <li role="menuitem"><button class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i> Logout</button></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
